*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#logo{
    height: 5vh;
    display: inline-block;
}

nav{
    width: 100vw;
    height: 5vh;
    position: fixed;
    z-index: 9;
    top: 0;
    background-color: rgb(106, 63, 143);
    display: inline-block;
}

#logo img{
    height: 70%;
    margin: 5px;
}

.citta {
    position: relative;
    top: 5vh;
    width: 100vw;
    height: 95vh;
    border: 2px solid rgb(0, 0, 0);
}

.uno{
    background-image: url('../img/roma.jpg');
    background-size: cover;
    background-position: top;
}

.due{
    background-image: url('../img/parigi.jpg');
    background-size: cover;
    background-position: top;
}

.tre{
    background-image: url('../img/praga.jpg');
    background-size: cover;
    background-position: top;
}
.quattro{
    background-image: url('../img/londra.jpg');
    background-size: cover;
    background-position: top;
}


.overlay{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.3);
}

.nome{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

h2{
    color: black;
    font-size: 50px;
    text-shadow: 3px 3px 2px #ffffff;
}

a, a:visited{
    text-decoration: none;
    color: white;
}

ul li{
    display: inline-block;
    text-decoration: none;
    font-size: 30px;
    color: white;
    line-height: 100%;
    padding: 10px;
}

ul{
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%)
}

li:hover{
    border-bottom: 5px solid white;
}
